<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-outline-primary float-end" routerLink="/crear-producto">NUEVO</button>
                     
                    <table class="table table-dark table-striped mt-4">
                        <thead>
                            <tr>
                              <th scope="col">Producto</th>
                              <th scope="col">Categoría</th>
                              <th scope="col">Ubicación</th>
                              <th scope="col">Precio</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                                <th>Coca Cola</th>
                                <td>Bebida</td>
                                <td>Buenos aires</td>
                                <td>2</td>
                                <td>
                                    <i class="fas fa-solid fa-pen-to-square text-primary"></i>
                                    <i class="fas fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <th>Marlboro 20</th>
                                <td>Cigarrillos</td>
                                <td>Barcelona</td>
                                <td>3</td>
                                <td>
                                    <i class="fas fa-solid fa-pen-to-square text-primary"></i>
                                    <i class="fas fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>
                          </tbody>    
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>